*{
  box-sizing: border-box
}

/* CSS custom properties:  */
:root{
  --primary-f:'STKaiti', Times News Roman;
  --secondary-f: 'Source Sans Pro', Arial;
  
  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 2.2rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem
  --fs-body: 1rem;

  --clr-bg: #d9d9d9;
  --clr-dk: black;
  --clr-light: white;
  --clr-tx: black;
  --clr-main: #49cef8;
  --secclr-tx: white;
/* 使用customized style可以讓我一次就能改變整個網頁的格式，但在特定情況下，如標題需要更大或使用其他顏色，我亦會自行設定properoties. */
}

/* Main Style */

body{
  background-color: var(--clr-bg);
  color: var(--clr-tx);
  font-family: var(--primary-f);
  font-size: var(--fs-body);
  margin: 0;
  line-height: 1.6 rem;
  scroll-behavior: smooth;
}


 .section-title{
    color: var(--clr-dk);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--clr-light);
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.25rem;
  }

img{
  display: block;
  max-width: 100%;
}

/*  導覽欄*/
header {
  background: var(--clr-main);
  max
}

.header-button {
  max-height:10vh;
  max-width:10vw;
  border: 4rem;
  cursor: pointer;
  z-index: 1000;
}

.nav-open nav{
  transform: translateX(0);
}

.nav-open .header-button{
  position:fixed;
}

.logo {
    max-width: 100px;
}


nav{
   position: fixed;
    background: var(--clr-main);
    color: var(--secclr-tx);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item{
  margin: 1.5rem;
}

.nav-link{
  color: var(--clr-light);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav-link:hover{
  color: var(--clr-dk);
}

.big-nav{
  display: none; 
}


/* 開場 */

.opne-title{
  color: white;
  font-size: 35px;
  font-family: "STHeiti";
  font-weight: normal;
  text-shadow: 3px 3px 2px black;
  letter-spacing: 3px
}

.open-sub{
  font-size: 1rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.banner {
  color: white;
  background: url('https://i.postimg.cc/fbc685Lf/output-onlinepngtools.png') top left/cover no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


#idea{
    background-image: url("https://i.postimg.cc/DfXNvnLY/new-crowd.png");
    background-size: cover;
    background-repeat: no-reapt;
}

  .idea-container{
    color: var(--secclr-tx);
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
     
}

.idea-content{
  padding: 0 3rem;
}

 

.idea-subtitle{
  flex: 1.2;
  background-color: var(--clr-light);
  padding: 0.5rem;
  color: var(--clr-tx);
  
}

/*  議題討論*/

.issue-title,
.issue-subtitle{
  text-align: center;
}

.issue-title{
  color: var(--clr-dk);
}


.issue-subtitle{
  margin: 2rem 0rem;
}



.issue-gallery{
  padding: 3rem;
  display: grid;
  width:100vd
  height:100vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  transition: 
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;

/* 這邊特別使用grid的原因是較容易為每個item加上transform與transition的選項，增加瀏覽時的互動。 */
}

.issue-photo:hover{
  transform: scale(1.2);
}


/*  倡議*/

#advocacy{
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}

.a-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 10px 22px -15px #2e397e;
}

.list-container{
  width: 80vw;
  margin: 0 auto;
}

.a-li{
  padding: 2rem 2rem;
  align-items: center;
  border-bottom: solid 1px #dedede;
  background: white;
  flex-direction: row;
  width: 100%;
}

.a-li:last-child{
  border: none;
}

.input-main{
  font-size: 1.15em;
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid #dcdcdc;
  flex: 5;
}

.input-add{
  display: flex
}

.btn-main{
  color: white;
  font-size: 1em;
  padding: 1em;
  background-color: var(--clr-main);
  border: none;
  cursor: pointer;
  transition: black 0.2s ease-in-out;
}

.btn-main:hover{
  background-color: #49aff8;
}

.btn-toggle{
  background-color: #8188ae;
  font-size: 1em;
  padding: 1em;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0.2rem 0rem;
}

.btn-toggle:hover{
  background-color: #949ab5;
}

.btn-remove {
  color: white;
  padding: 0.85em 1em;
  background-color: #6B0617;
  border: none;
  cursor: pointer;
}

.btn-remove:hover{
  background-color: #870406;
}


/* Text*/

h1,
h2,
h3{
  line-height: 1.1 rem;
  
}

h1{
  font-size: var(--fs-h1);
  font-family: var(--primary-f)
}

h2{
  font-size: var(--fs-h2);
  margin-bottom: 0.25 rem;
}

h3{
  font-size: var(--fs-h3);
}

ul{
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.opening-title{
  font-family: 'STKaiti
}

/* footer */

footer{
  background-color: var(--clr-main);
  margin:0;
  margin-top: 2vh;
}

.footer-content{
  color: var(--clr-light);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 12px;
}

.menu {
  display: none;
}

/* Media query */



@media (min-width: 800px){
  ：root{
  --fs-h1: 4.5rem;
  --fs-h2: 3.75rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.125rem;
  }

 .header-button {
   display: none;
 } 
  .menu {
    display: block;
  }

.banner,
#idea{
  min-height: 100vh;
}

.big-nav{
  display:block;
  margin: 0 auto;
  width: 100%
  height: 10vh;
}

.big-nav-list{
  display: flex;
  justify-content: flex-end;
  flex: 1 5px;
  flex-direction: row;
}